body{
    background-color: rgb(210, 105, 30);
}

h1{
    text-align: center;
    text-decoration-line: underline;
    color: rgb(127, 255, 212);
    background-color: rgb(210, 105, 30);
    border: 4px solid rgb(255, 0, 0);
}

p{
    background-color: rgb(210, 105, 30);
    text-align: center;
    font-size: 30px;
}

li{
    background-color: rgb(210, 105, 30);
    text-align: center;
    font-size: 30px;
}

a{
    color: rgb(255, 0, 0);
}