body{
    background-color: #D2691E;
}

h1{
    text-align: center;
    text-decoration-line: underline;
    color: #7FFFD4;
    background-color: #D2691E;
    border: 4px solid #FF0000;
}

p{
    background-color: #D2691E;
    text-align: center;
    font-size: 30px;
}

li{
    background-color: #D2691E;
    text-align: center;
    font-size: 30px;
}

a{
    color: #FF0000;
}