.body{
    background-image: linear-gradient(to top, 
    #00000000, #000000c9), linear-gradient(to bottom, 
    #00000000, #000000c9), url("imgaes/wtfnexftis.jpg");
}

.netfixlogo{
    margin: 25px;
    margin-top: 15px;
    margin-left: 100px;
}

.languagething{
    font-size: 17px;
    height: 35px;
    width: 110px;
    color: white;
    background: transparent;
    margin-left: 850px;
    margin-right: 20px;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 5px;
}

.signin{
    height: 35px;
    width: 75px;
    background-color: red;
    border-radius: 10%;
    color: white;
}

.bigtext{
    font-size: 50px;
    text-align: center;
    color: white;
}

.watchtext{
    color: white;
    text-align: center;
    font-size: 25px;
}

.ready{
    color: white;
    text-align: center;
    font-size: 20px;
}

.enteremail{
    background-color: transparent;
    color: white;
    height: 60px;
    width: 400px;
    font-size: 18px;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 1);
}

.emailzone{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subbutton{
    background-color: red;
    height: 60px;
    width: 200px;
    border-radius: 10px;
    color: white;
    font-size: 23px;
}